@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

h1,
h2,
h3,
button,
.navbar a {
  font-family: "Raleway", sans-serif;
}

p,
a,
h5,
small {
  font-family: "Open Sans", sans-serif;
}

/* ===============
* sign means to make the whole page go back to zero (default reset)
======================= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* PRIMARY */
  --dark-blue-1: hsl(217, 28%, 15%);
  --dark-blue-2: hsl(218, 28%, 13%);
  --dark-blue-3: hsl(216, 53%, 9%);
  --dark-blue-4: hsl(219, 30%, 18%);

  /* ACCENT */
  --cyan: hsl(176, 68%, 64%);
  --blue: hsl(198, 60%, 50%);
  --light-red: hsl(0, 100%, 63%);

  /* NEUTRAL */
  --white: hsl(0, 0%, 100%);
}

body {
  background-color: var(--dark-blue-1);
  max-width: 1440px;
  margin: auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: var(--dark-blue-1);
  align-items: center;
  padding: 60px;
}

.navbar div {
  display: flex;
  gap: 60px;
}

.navbar a {
  text-decoration: none;
  color: var(--white);
  font-size: 14px;
  font-weight: 400;
}

.navbar a:hover {
  font-weight: 700;
  text-decoration: underline;
}

/* MEDIA QUERY FOR NAV BAR FROM 500PX TO 0PX */

@media (max-width: 500px) {
  .navbar img {
    width: 100px;
  }

  .navbar {
    padding: 20px;
  }

  .navbar div {
    gap: 20px;
  }
}
/* ====================================================== */

.section1 {
  text-align: center;
  background-color: var(--dark-blue-1);
  position: relative;
}

.wave_deck {
  position: absolute;
  left: 0;
  max-width: 1440px;
  width: 1520px;
  bottom: -170px;
}

.wave_mob {
  display: none;
}

.illu {
  margin: 20px auto;
  position: relative;
}

.section1 h1 {
  color: var(--white);
  /* margin: 0 350px; */
  max-width: 850px;
  margin: auto;
  font-size: 45px;
  line-height: 60px;
  margin-bottom: 30px;
  position: relative;
}

.section1 p {
  color: var(--white);
  max-width: 650px;
  margin: auto;
  position: relative;
  line-height: 35px;
  font-size: 22px;
}

.section1 button {
  border: 0px solid;
  margin-top: 30px;
  padding: 18px 88px;
  border-radius: 30px;
  font-size: 15px;
  color: var(--white);
  background: linear-gradient(to right, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
  position: relative;
  cursor: pointer;
}

.section1 button:hover {
  background: linear-gradient(to right, hsl(198, 60%, 50%), hsl(176, 68%, 64%));
  font-weight: 700;
}

/* MEDIA QUERY FOR SECTION1 FROM 500PX TO 0PX */

@media (max-width: 500px) {
  .illu {
    width: 330px;
  }
  .section1 h1 {
    font-size: 25px;
    line-height: 35px;
    padding: 0 20px;
  }
  .section1 p {
    font-size: 16px;
    line-height: 25px;
    padding: 0 20px;
  }

  .wave_deck {
    display: none;
  }

  .wave_mob {
    display: inline;
    position: absolute;
    left: 0;
    max-width: 500px;
    width: 100%;
    top: 230px;
  }

  .bk_2 {
    max-width: 500px;
    width: 100%;
    height: 410px;
    background-color: var(--dark-blue-2);
    position: absolute;
    bottom: -171px;
  }
}
/* ======================================== */

.section2 {
  background-color: var(--dark-blue-2);
  margin-top: 170px;
}

.grid-container {
  max-width: 700px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
}

.grid-container div {
  color: var(--white);
  text-align: center;
  max-width: 370px;
  margin: auto;
}

.grid-container div p {
  font-size: 14px;
  margin-top: 10px;
}

.grid-container div img {
  width: 70px;
  height: 80px;
}

.grid-container h3 {
  margin-top: 20px;
}

/* MEDIA QUERY FOR SECTION2 FROM 500PX TO 0PX */

@media (max-width: 500px) {
  .grid-container {
    grid-template-columns: 1fr;
  }

  .grid-container div p {
    padding: 0 25px;
  }

  .grid-container div img {
    width: 50;
    height: 55px;
  }
}
/* ================================================================ */
/* SECTION-THREE */

.section3 {
  background-color: var(--dark-blue-2);
  padding-top: 150px;
  counter-reset: var(--white);

  color: var(--white);
}

.section3_container {
  display: flex;
  align-items: center;
  gap: 40px;
  max-width: 1150px;
  margin: auto;
}

.section3_container h2 {
  padding-right: 190px;
}

.section3_container p {
  font-size: 14px;
  margin-top: 20px;
  padding-right: 0;
}

.sec3_link {
  margin-top: 20px;
  width: 165px;
  display: flex;
  align-items: center;
  gap: 4px;
  padding-bottom: 3px;
  border-bottom: 3px solid var(--cyan);
}

.sec3_link a {
  text-decoration: none;
  color: var(--cyan);
  padding-bottom: 2px;
}

.sec3_link a:hover {
  color: var(--white);
}

.sec3_link:hover {
  border-bottom: solid var(--white);
}

/* MEDIA QUERY FOR SECTION3 FROM 500PX TO 0PX */

@media (max-width: 500px) {
  .section3_container img {
    width: 330px;
  }

  .section3_container {
    flex-direction: column;
    align-items: center;
    max-width: 330px;
  }

  .section3_container h2 {
    font-size: 20px;
    padding: 0 0;
  }

  .section3_container p {
    font-size: 15px;
  }

  .sec3_link {
    width: 170px;
  }

  .sec3_link img {
    width: 20px;
  }
}

/* .sec3_link img:hover {
  color: var(--white);
} */

/* ======================SECTION 4================== */

.section4 {
  background-color: var(--dark-blue-2);
  color: var(--white);
  position: relative;
}

.test_con {
  display: flex;
  padding-top: 150px;
  max-width: 1100px;
  margin: auto;
  gap: 30px;
  position: relative;
}

.each_test {
  background-color: var(--dark-blue-4);
  padding: 40px 20px 20px 20px;
  border-radius: 5px;
}

.inner_div img {
  width: 40px;
  border-radius: 50%;
}

.inner_div {
  display: flex;
  gap: 15px;
  align-items: center;
  margin-top: 20px;
}

.inner_div small {
  font-size: 10px;
  color: whitesmoke;
  font-weight: 300;
}

.each_test p {
  padding-right: 20px;
  line-height: 22px;
  font-size: 14px;
}

.quote {
  position: absolute;
  top: 115px;
  left: 5%;
  right: 33%;
}

/* MEDIA QUERY FOR SECTION3 FROM 500PX TO 0PX */

@media (max-width: 500px) {
  .test_con {
    flex-direction: column;
    max-width: 300px;
    align-items: center;
    justify-content: center;
  }

  .each_test {
    padding: 20px;
  }

  .each_test p {
    font-size: 10px;
  }

  .quote {
    width: 30px;
    left: 45px;
    top: 130px;
  }
}

/* ===============SECTION 5=========================  */

.section5 {
  background-color: var(--dark-blue-2);
  color: var(--white);
  padding-top: 300px;
  position: relative;
}

.get_early {
  background-color: var(--dark-blue-1);
  max-width: 800px;
  margin: auto;
  padding: 40px 60px;
  text-align: center;
  border-radius: 5px;
  position: absolute;
  bottom: -100px;
  left: 10%;
  right: 20%;
}

.get_early p {
  margin: 20px 0;
  line-height: 25px;
  padding: 0 20px;
  font-size: 14px;
}

.form {
  display: flex;
  gap: 25px;
  justify-content: center;
}

.form input {
  padding: 12px 30px;
  width: 450px;
  border-radius: 40px;
  border: none;
}

form input::placeholder {
  font-size: 12px;
  color: rgb(225, 220, 220);
}

.form button {
  padding: 12px 30px;
  background-color: var(--blue);
  color: var(--white);
  border-radius: 40px;
  border: none;
  font-weight: 400;
  cursor: pointer;
}

.form button:hover {
  background-color: var(--cyan);
}

/* MEDIA QUERY FOR SECTION3 FROM 500PX TO 0PX */

@media (max-width: 500px) {
  .get_early {
    max-width: 350pxpx;
    left: 5%;
    right: 5%;
    bottom: -170px;
    padding: 40px 20px;
  }

  .get_early h2 {
    font-size: 20px;
  }

  .get_early p {
    padding: 0 17px;
  }

  .form {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .form input {
    width: 290px;
  }

  .form button {
    padding: 12px 85px;
  }
}

/* ==============FOOTER====================== */

footer {
  background-color: var(--dark-blue-3);
  color: var(--white);
}

.main_footer {
  /* border: 3px solid gold; */
  max-width: 1200px;
  /* padding: 120px 30px 15px 50px; */
  margin: auto;
  padding: 150px 0;
}

.inner_footer {
  display: grid;
  margin-top: 20px;
  grid-template-columns: 3fr 2fr 1fr 1fr 1fr;
}

.foot_one {
  display: flex;
  align-items: start;
  gap: 20px;
}

.foot_one p {
  padding-right: 150px;
  line-height: 22px;
  font-size: 14px;
}

.foot_two {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.foot_two div p {
  font-size: 14px;
}

.foot_two div {
  display: flex;
  gap: 20px;
}

.foot_three {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.foot_three a {
  text-decoration: none;
  color: var(--white);
  font-size: 14px;
}

.foot_three a:hover {
  font-weight: 700;
}

.foot_four {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.foot_four a {
  text-decoration: none;
  color: var(--white);
  font-size: 14px;
}

.foot_four a:hover {
  font-weight: 700;
}

.foot_five {
  display: flex;
  justify-content: end;
  align-items: start;
  gap: 15px;
}
/* MEDIA QUERY FOR FOOTER FROM 500PX TO 0PX */

@media (max-width: 500px) {
  .main_footer {
    max-width: 330px;
    padding-top: 250px;
    padding-bottom: 50px;
  }

  .inner_footer {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .foot_two {
    margin-bottom: 50px;
  }

  .foot_three {
    margin-bottom: 30px;
  }

  .foot_four {
    margin-bottom: 50px;
  }

  .foot_five {
    justify-content: center;
  }
}
